body {
	margin: 0px;
	padding: 0px;
	color: #333;
}

#logo {
	width: 100%;
	height: 58px;
	margin: 0px auto;
	background-color: #222;
	color: white;
	margin-bottom: 35px;
	padding-left: 10px;
	text-align: left;
	font: 50px 'ComfortaaThin', Arial, sans-serif;
	
/* 	Box Shadow */
  -webkit-box-shadow: 0px 7px 7px #d4d4d4; 
     -moz-box-shadow: 0px 7px 7px #d4d4d4; 
          box-shadow: 0px 7px 7px #d4d4d4; 

/* 	Text Shadow */
     text-shadow: 1px 1px 1px #fff; 
}

#graph_analysis {
	margin: 0px auto;
	width: 90%;
	height: 350px;
/* 	border: 1px solid green; */
}

#graph {
	width: 65%;
	height: 100%;
	float: left;
	background-color: #ccc;
	margin-bottom: 25px;
}

#switcher {
	padding: 10px;
	width: 25%;
	height: 100%;
	line-height: 1.7;
	font: 15px 'ComfortaaThin', Arial, sans-serif;
	float: left;
/* 	border: 2px solid blue; */
}

#comp_switcher {
	display:none;
}

.sub {
	margin-left: 15px;
}

.checkbox {
	height: 15px;
	width: 15px;
	float: left;
	border: 1px solid #ccc;
	cursor: pointer;
}

.graph_opt {
  float: left;
  margin-left: 10px;
}

select {
	background-color: #000;
	color: #fff;
}

#highlights {
	width: 90%;
	margin: 0px auto;
	font: 17px 'ComfortaaThin', Arial, sans-serif;
	line-height: 1.7;
	margin-bottom: 100px;
}

#pos_reviews {
	padding-right: 15px;
	width: 45%;
	float: left;
}

#neg_reviews {
	padding-left: 15px;
	width: 45%;
	float: left;
}

p {
	cursor: pointer;
	border: 1px solid #DDD;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

p:hover {
	/* 	Box Shadow */
  -webkit-box-shadow: 0px 7px 7px #d4d4d4; 
     -moz-box-shadow: 0px 7px 7px #d4d4d4; 
          box-shadow: 0px 7px 7px #d4d4d4; 
}

h3 {
	font: 22px 'ComfortaaBold', Arial, sans-serif;
}

.panel{
	display:none;
	font: 14px 'ComfortaaRegular', Arial, sans-serif;
	line-height: 1.0;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

img {
	width: 32px;
	height: 32px;
	margin-right: 12px;
}

.load {
	position: relative;
	margin: 0px auto;
}

#loadingDiv {
	font: 32px 'ComfortaaLight', Arial, sans-serif;
	position: fixed;
	top: 58px;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #FFF;
	opacity: .7;
	color: #222;
	text-align: center;
}

#noResults {
	font: 32px 'ComfortaaLight', Arial, sans-serif;
	position: fixed;
	top: 58px;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #FFF;
	opacity: .7;
	color: #222;
	text-align: center;
}

.searchbox {
	position: absolute;
	background-color: #000;
	border: none;
	outline: none;
	color: white;
	font-size: 16px;
	height: 36px;
	padding-left: 10px;
	top: 10px;
}

#search_place {
	right: 320px;
	width: 200px;
	margin-right: 40px;
}

#search_zip {
	right: 180px;
	width: 90px;
	margin-right: 40px;
}

#search_submit {
	position: absolute;
	top: 10px;
	height: 38px;
	right: 70px;
	width: 80px;
	border: none;
	color: white;
	background-color: #222;
	font-size: 20px;
	cursor: pointer;
}